<table class="table table-hover">
  <tr>
    <th>Game</th>
    <th>Platforms</th>
    <th>Release Date</th>
    <th>Lowest Price</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><a href="/games/<%= game.id %>"><%= game.name %></a></td>
      <% if game.platformed_games.any? %>
        <td>
          <% game.platformed_games.each do |platformed_game| %>
            <%= platformed_game.platform.name + " " + " " %>
          <% end %>
        </td>
        <td>
          <% game.platformed_games.each do |platformed_game| %>
            <p>
              <%= platformed_game.platform.name %>: 
              <% if platformed_game.release_date %>
                <%= platformed_game.release_date.strftime("%B %d, %Y") %>
              <% else %>
                TBA
              <% end %>
            </p>
          <% end %>
        </td>
      <% else %>
        <td> </td>
        <td> </td>
      <% end %>
      <% if game.lowest_deals.any? %>
        <td>
          <% game.lowest_deals.each do |platform_deal| %>
            <p><%= platform_deal[:platform_name] %>: <%= number_to_currency(platform_deal[:price], unit: "$") %></p>
          <% end %>
        </td>
      <% else %>
        <td>N/A</td>
      <% end %>
    </tr>
  <% end %>
</table>