<div ng-app = "app">
  <div ng-controller = "gamesCtrl">

    <!-- slider-section-start -->
    <section class="slider-main-area " style="max-width:1403px;max-height:500px">
      <div class="main-slider an-si " style="max-width:1403px;max-height:500px">
        <div class="bend niceties preview-2 hm-ver-1 " style="max-width:1403px;max-height:500px">
          <div id="ensign-nivoslider-2" class="slides " style="max-width:1403px;max-height:500px"> 
            <% @sample_games.each_with_index do |sample_game, index| %>
              <% if index == 0 %>
                <img src="https://res.cloudinary.com/igdb/image/upload/<%= sample_game.game_covers.first.cloudinary_id %>.jpg" alt="" title="#slider-direction-3" style="max-width:1403px;max-height:500px" />
              <% else %>
                <img src="https://res.cloudinary.com/igdb/image/upload/<%= sample_game.game_covers.first.cloudinary_id %>.jpg" alt="" title="#slider-direction-1" style="max-width:1403px;max-height:500px" />
              <% end %>
            <% end %>
          </div>
          <!-- direction 1 -->
          <div id="slider-direction-3" class="t-cn slider-direction Builder">
            <div class="slide-all">
              <div class="layer-2">
                <h2 class="title6"><%= @sample_games[0].name %></h2>
              </div>
              <div class="layer-3">
                <a class="min1" href="/games/<%= @sample_games[0].id %>">View Game</a>
              </div>
            </div>
          </div>
          <div id="slider-direction-1" class="t-cn slider-direction Builder">
            <div class="slide-all slide2">
              <div class="layer-2">
                <h2 class="title6"><%= @sample_games[1].name %></h2>
              </div>
              <div class="layer-3">
                <a class="min1" href="/games/<%= @sample_games[1].id %>">View Game</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- slider section end -->
    <section class="featured-products single-products games-index-padding-top">

      <div class="container">

        <!-- Section Title -->
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h3>FEATURED GAMES</h3>
              <div class="section-icon">
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- Section Title End -->

        <!-- Categories -->
        <div class="row">
          <div class="col-xs-12">
            <div class="product-tab nav nav-tabs">
              <ul>    
                <% if @search.empty? %> 
                  <% if @page.to_i - 1 > 1 %>
                    <li><a href="/games?page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                  <% end %>
                  <% if @page.to_i > 1 %>
                    <li><a href="/games?page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                  <% end %>                                 
                  <li ="active"><a data-toggle="tab" href="/games?page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                  <% if @games_next.length > 0 %>
                    <li>
                      <a href="/games?page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                    </li>
                    <% if @games_next_2.length > 0 %> 
                      <li>
                        <a href="/games?page=<%= @page.to_i + 2 %>"><%= @page.to_i + 2 %></a>
                      </li>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if @page.to_i - 1 > 1 %>
                    <li><a href="/games?search=<%= @search %>&page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                  <% end %>
                  <% if @page.to_i > 1 %>
                    <li><a href="/games?search=<%= @search %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                  <% end %>                                 
                  <li ="active"><a data-toggle="tab" href="/games?search=<%= @search %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                  <% if @games_next.length > 0 %>
                    <li>
                      <a href="/games?search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                    </li>  
                      <% if @games_next_2.length > 0 %>
                        <li>
                          <a href="/games?search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                        </li>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- Categories End -->

        <!-- Games Index Start -->
        <% @games.each_with_index do |game, index| %>
          <% if index%4 == 0 %>
            <div class="row tab-content">

              <!-- Cat 1 Start -->
              <div class="tab-pane  fade in active" id="all">
                <div id="tab-carousel-1" class="re-owl-carousel owl-carousel product-slider owl-theme">
                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product">
                        <div class="product-img games-index-image-align-div">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>" class="games-index-image-align-a">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" class="games-index-image-max"/>
                            <% else %>
                              <img class="secondary-image" src="">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc games-index-game-title">
                          <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
                          <div class="star-price">
                            <span class="price-left">
                              <!-- incorporate lowest deal later with restructured deals -->
                            </span>
                            <span class="star-right"></span>
                          </div>
                        </div>
                        <div class="actions-btn">
                          <a href="/games/<%= game.id %>" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->
                  
          <% elsif (index + 1) > 1 && (index + 1) % 4 == 0 %>

                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product">
                        <div class="product-img games-index-image-align-div">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>" class="games-index-image-align-a">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" class="games-index-image-max" />
                            <% else %>
                              <img class="secondary-image" src="">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc games-index-game-title">
                          <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
                          <div class="star-price">
                            <span class="price-left">
                              <!-- incorporate lowest deal later with restructured deals -->
                            </span>
                            <span class="star-right"></span>
                          </div>
                        </div>
                        <div class="actions-btn">
                          <a href="/games/<%= game.id %>" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->
                  
                </div>
              </div>
              <!-- Cat 1 End -->
            </div>

          <% else %>

                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product">
                        <div class="product-img games-index-image-align-div">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>" class="games-index-image-align-a">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" class="games-index-image-max" />
                            <% else %>
                              <img class="secondary-image" src="">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc games-index-game-title">
                          <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
                          <div class="star-price">
                            <span class="price-left">
                              <!-- incorporate lowest deal later with restructured deals -->
                            </span>
                            <span class="star-right"></span>
                          </div>
                        </div>
                        <div class="actions-btn">
                          <a href="/games/<%= game.id %>" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->

          <% end %>
        <% end %>

      </div>
    </section>
  </div>
</div>
