<table class = "table table-hover">
  <tr>
    <th>Game</th>
    <th>Release Date</th>
    <th>Platforms</th>
    <th>Genres</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.name, "/games/#{game.id}/#{game.slug}" %></td>
      <td>
        <% if game.release_dates %>
          <% game.release_dates.each do |release_date| %>
            <p>
              <% @platforms.each do |platform| %>
                <% if platform.id == release_date["platform"] %>
                  <%= platform.name %>: 
                  <% break %>
                <% end %>
              <% end %>
              <%= Date.strptime("#{release_date['date']}" , "%Q").strftime("%b %d, %Y") %>
            </p>
          <% end %>
        <% end %>
      </td>
      <td>
        <% @platforms.each do |platform| %>
          <% if platform.games.include?(game.id) %>
            <%= platform.name %>,
          <% end %>
        <% end %>
      </td>
      <td>
        <% @genres.each do |genre| %>
          <% if genre.games.include?(game.id) %>
            <%= genre.name %>, 
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>