<div ng-app = "app">
  <div ng-controller = "gamesCtrl">

    <!-- slider-section-start -->
    <section class="slider-main-area " style="max-width:100%;max-height:500px">
      <div class="main-slider an-si " style="max-width:100%;max-height:500px">
        <div class="bend niceties preview-2 hm-ver-1 " style="max-width:100%;max-height:500px">
          <% if @sample_games %>
            <div id="ensign-nivoslider-2" class="slides " style="max-width:100%;max-height:500px"> 
              <% @sample_games.each_with_index do |sample_game, index| %>
                <% if index == 0 %>
                  <% if sample_game.game_covers %>
                    <img src="https://res.cloudinary.com/igdb/image/upload/<%= sample_game.game_covers.first.cloudinary_id %>.jpg" alt="" title="#slider-direction-3" style="max-width:100%;max-height:500px" />
                  <% end %>
                <% else %>
                  <% if sample_game.game_covers %>
                    <img src="https://res.cloudinary.com/igdb/image/upload/<%= sample_game.game_covers.first.cloudinary_id %>.jpg" alt="" title="#slider-direction-1" style="max-width:100%;max-height:500px" />
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <!-- direction 1 -->
            <div id="slider-direction-3" class="t-cn slider-direction Builder">
              <div class="slide-all" style="margin-left:0;margin-right:0;float:none;padding-top:10%">
                <div class="layer-2">
                  <!-- <h2 class="title6"><%= @sample_games[0].name %></h2> -->
                </div>
                <div class="layer-3" style="">
                  <a class="min1" href="/games/<%= @sample_games[0].id %>">View Game</a>
                </div>
              </div>
            </div>
            <div id="slider-direction-1" class="t-cn slider-direction Builder">
              <div class="slide-all slide2">
                <div class="layer-2">
                  <!-- <h2 class="title6"><%= @sample_games[1].name %></h2> -->
                </div>
                <div class="layer-3">
                  <a class="min1" href="/games/<%= @sample_games[1].id %>">View Game</a>
                </div>
              </div>
            </div>
          <% else %>
            <div style="height:155px"></div>
          <% end %>
        </div>
      </div>
    </section>
    <!-- slider section end -->
    <section class="featured-products single-products games-index-padding-top">

      <div class="container">

        <!-- Section Title -->
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h3>FEATURED GAMES</h3>
              <div class="section-icon">
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- Section Title End -->

        <!-- Categories -->
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <div class="product-tab nav nav-tabs">
              <ul>    
                <% if !@search.empty? %>
                  <% if @filter %>
                    <% if @page.to_i - 1 > 1 %>
                      <li><a href="/games?filter=<%= @filter %>&search=<%= @search %>&page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                    <% end %>
                    <% if @page.to_i > 1 %>
                      <li><a href="/games?filter=<%= @filter %>&search=<%= @search %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                    <% end %>                                 
                    <li ="active"><a data-toggle="tab" href="/games?filter=<%= @filter %>&search=<%= @search %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                    <% if @games_next.length > 0 %>
                      <li>
                        <a href="/games?filter=<%= @filter %>&search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                      </li>  
                      <% if @games_next_2.length > 0 %>
                        <li>
                          <a href="/games?filter=<%= @filter %>&search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                        </li>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if @page.to_i - 1 > 1 %>
                      <li><a href="/games?search=<%= @search %>&page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                    <% end %>
                    <% if @page.to_i > 1 %>
                      <li><a href="/games?search=<%= @search %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                    <% end %>                                 
                    <li ="active"><a data-toggle="tab" href="/games?search=<%= @search %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                    <% if @games_next.length > 0 %>
                      <li>
                        <a href="/games?search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                      </li>  
                      <% if @games_next_2.length > 0 %>
                        <li>
                          <a href="/games?search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                <% elsif @sort_attribute %>
                  <% if @sort_attribute_2 %>
                    <% if @filter %>
                      <h1>AM I WORKING?</h1>
                      <% if @page.to_i - 1 > 1 %>
                        <li><a href="/games?filter=<%= @filter %>&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                      <% end %>
                      <% if @page.to_i > 1 %>
                        <li><a href="/games?filter=<%= @filter %>&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                      <% end %>                                 
                      <li ="active"><a data-toggle="tab" href="/games?filter=<%= @filter %>&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                      <% if @games_next.length > 0 %>
                        <li>
                          <a href="/games?filter=<%= @filter %>&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                        </li>
                        <% if @games_next_2.length > 0 %> 
                          <li>
                            <a href="/games?filter=<%= @filter %>&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page.to_i + 2 %>"><%= @page.to_i + 2 %></a>
                          </li>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% if @page.to_i - 1 > 1 %>
                        <li><a href="/games?sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                      <% end %>
                      <% if @page.to_i > 1 %>
                        <li><a href="/games?sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                      <% end %>                                 
                      <li ="active"><a data-toggle="tab" href="/games?sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                      <% if @games_next.length > 0 %>
                        <li>
                          <a href="/games?sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                        </li>
                        <% if @games_next_2.length > 0 %> 
                          <li>
                            <a href="/games?sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>&page=<%= @page.to_i + 2 %>"><%= @page.to_i + 2 %></a>
                          </li>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if @page.to_i - 1 > 1 %>
                      <li><a href="/games?sort_attribute=<%= @sort_attribute %>&page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                    <% end %>
                    <% if @page.to_i > 1 %>
                      <li><a href="/games?sort_attribute=<%= @sort_attribute %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                    <% end %>                                 
                    <li ="active"><a data-toggle="tab" href="/games?sort_attribute=<%= @sort_attribute %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                    <% if @games_next.length > 0 %>
                      <li>
                        <a href="/games?sort_attribute=<%= @sort_attribute %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                      </li>
                      <% if @games_next_2.length > 0 %> 
                        <li>
                          <a href="/games?sort_attribute=<%= @sort_attribute %>&page=<%= @page.to_i + 2 %>"><%= @page.to_i + 2 %></a>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                <% elsif @filter %>
                  <% if @page.to_i - 1 > 1 %>
                    <li><a href="/games?filter=<%= @filter %>&page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                  <% end %>
                  <% if @page.to_i > 1 %>
                    <li><a href="/games?filter=<%= @filter %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                  <% end %>                                 
                  <li ="active"><a data-toggle="tab" href="/games?filter=<%= @filter %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                  <% if @games_next.length > 0 %>
                    <li>
                      <a href="/games?filter=<%= @filter %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                    </li>
                    <% if @games_next_2.length > 0 %> 
                      <li>
                        <a href="/games?filter=<%= @filter %>&page=<%= @page.to_i + 2 %>"><%= @page.to_i + 2 %></a>
                      </li>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if @page.to_i - 1 > 1 %>
                    <li><a href="/games?page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                  <% end %>
                  <% if @page.to_i > 1 %>
                    <li><a href="/games?page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                  <% end %>                                 
                  <li ="active"><a data-toggle="tab" href="/games?page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                  <% if @games_next.length > 0 %>
                    <li>
                      <a href="/games?page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                    </li>
                    <% if @games_next_2.length > 0 %> 
                      <li>
                        <a href="/games?page=<%= @page.to_i + 2 %>"><%= @page.to_i + 2 %></a>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="mainmenu clearfix hidden-sm hidden-xs">
              <nav>
                <ul class="games-index-filter-head">
                  <li>Filters:</li>
                  <li>
                    Order By:
                    <ul class="games-index-ul-filters">
                      <% if @sort_attribute %>
                        <% if @sort_attribute_2 %>
                          <li>
                            <a href="/games?filter=name_up&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>" >Name (A-Z)</a>
                          </li>
                          <li>
                            <a href="/games?filter=name_down&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>" >Name (Z-A)</a>
                          </li>
                          <li>
                            <a href="/games?filter=release_date_desc&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>" >Newest</a>
                          </li>
                          <li>
                            <a href="/games?filter=release_date_asc&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>" >Oldest</a>
                          </li>
                        <% else %>
                          <li>
                            <a href="/games?filter=name_up&sort_attribute=<%= @sort_attribute %>" >Name (A-Z)</a>
                          </li>
                          <li>
                            <a href="/games?filter=name_down&sort_attribute=<%= @sort_attribute %>" >Name (Z-A)</a>
                          </li>
                          <li>
                            <a href="/games?filter=release_date_desc&sort_attribute=<%= @sort_attribute %>" >Newest</a>
                          </li>
                          <li>
                            <a href="/games?filter=release_date_asc&sort_attribute=<%= @sort_attribute %>" >Oldest</a>
                          </li>
                        <% end %>
                      <% else %>
                        <li>
                          <a href="/games?filter=name_up" >Name (A-Z)</a>
                        </li>
                        <li>
                          <a href="/games?filter=name_down" >Name (Z-A)</a>
                        </li>
                        <li>
                          <a href="/games?filter=release_date_desc" >Newest</a>
                        </li>
                        <li>
                          <a href="/games?filter=release_date_asc" >Oldest</a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                  <li>
                    Platforms:
                    <ul class="games-index-ul-filters">
                      <% @platforms.each do |platform| %>
                        <li>
                          <a href="/games?sort_attribute=platform&sort_attribute_2=<%= platform.id %>" ><%= platform.name %></a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                  <li>
                    Genres:
                    <ul class="games-index-ul-filters">
                      <% @genres.each do |genre| %>
                        <li>
                          <a href="/games?sort_attribute=genre&sort_attribute_2=<%= genre.id %>"><%= genre.name %></a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Categories End -->

        <!-- Games Index Start -->
        <% @games.each_with_index do |game, index| %>
          <% if index%4 == 0 %>
            <div class="row tab-content">

              <!-- Cat 1 Start -->
              <div class="tab-pane  fade in active" id="all">
                <div id="tab-carousel-1" class="re-owl-carousel owl-carousel product-slider owl-theme">
                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product game-title-show">
                        <div class="product-img games-index-image-align-div">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>" class="games-index-image-align-a">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" class="games-index-image-max"/>
                            <% else %>
                              <img src="assets/no_cover.png">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc games-index-game-title">
                        </div>
                        <div class="actions-btn game-tile-padding">
                          <h4 class="game-title-none game-title-color animated fadeInDown"><a href="/games/<%= game.id %>"><%= game.name %></a></h4>
                          <a href="/games/<%= game.id %>" data-placement="bottom" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->
                  
          <% elsif (index + 1) > 1 && (index + 1) % 4 == 0 %>

                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product game-title-show">
                        <div class="product-img games-index-image-align-div">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>" class="games-index-image-align-a">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" class="games-index-image-max" />
                            <% else %>
                              <img src="assets/no_cover.png">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc games-index-game-title">
                        </div>
                        <div class="actions-btn game-tile-padding">
                          <h4 class="game-title-none game-title-color animated fadeInDown"><a href="/games/<%= game.id %>"><%= game.name %></a></h4>
                          <a href="/games/<%= game.id %>" data-placement="bottom" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->
                  
                </div>
              </div>
              <!-- Cat 1 End -->
            </div>

          <% else %>

                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product game-title-show">
                        <div class="product-img games-index-image-align-div">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>" class="games-index-image-align-a">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" class="games-index-image-max" />
                            <% else %>
                              <img src="assets/no_cover.png">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc games-index-game-title">
                        </div>
                        <div class="actions-btn game-tile-padding">
                          <h4 class="game-title-none game-title-color animated fadeInDown"><a href="/games/<%= game.id %>"><%= game.name %></a></h4>
                          <a href="/games/<%= game.id %>" data-placement="bottom" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->

          <% end %>
        <% end %>

      </div>
    </section>
  </div>
</div>
<section class="section-padding-top"></section>