<div ng-app = "app">
  <div ng-controller = "gamesCtrl">
    <section class="featured-products single-products">

      <div class="container">

        <!-- Section Title -->
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h3>FEATURED PRODUCTS</h3>
              <div class="section-icon">
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- Section Title End -->

        <!-- Categories -->
        <div class="row">
          <div class="col-xs-12">
            <div class="product-tab nav nav-tabs">
              <ul>                                        
                <li class="active"><a data-toggle="tab" href="">insert</a></li>
                <li><a data-toggle="tab" href="">insert</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Categories End -->

        <!-- Games Index Start -->
        <% @games.each_with_index do |game, index| %>
          <% if index%4 == 0 %>
            <div class="row tab-content">

              <!-- Cat 1 Start -->
              <div class="tab-pane  fade in active" id="all">
                <div id="tab-carousel-1" class="re-owl-carousel owl-carousel product-slider owl-theme">
                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product">
                        <div class="product-img">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" />
                            <% else %>
                              <img class="secondary-image" alt="Product Title" src="">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc">
                          <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
                          <div class="star-price">
                            <span class="price-left">
                              <!-- incorporate lowest deal later with restructured deals -->
                            </span>
                            <span class="star-right"></span>
                          </div>
                        </div>
                        <div class="actions-btn">
                          <a href="/games/<%= game.id %>" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->
                  
          <% elsif (index + 1) > 1 && (index + 1) % 4 == 0 %>

                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product">
                        <div class="product-img">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" />
                            <% else %>
                              <img class="secondary-image" alt="Product Title" src="">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc">
                          <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
                          <div class="star-price">
                            <span class="price-left">
                              <!-- incorporate lowest deal later with restructured deals -->
                            </span>
                            <span class="star-right"></span>
                          </div>
                        </div>
                        <div class="actions-btn">
                          <a href="/games/<%= game.id %>" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->
                  
                </div>
              </div>
              <!-- Cat 1 End -->
            </div>

          <% else %>

                    <!-- Single Game Start -->
                    <div class="col-xs-12">
                      <div class="single-product">
                        <div class="product-img">
                          <!-- <div class="pro-type">
                            <span></span> Tag, ie. if on sale or if New
                          </div> -->
                          <a href="/games/<%= game.id %>">
                            <% if game.game_covers.first %>
                              <img src="https://res.cloudinary.com/igdb/image/upload/<%= game.game_covers.first.cloudinary_id %>.jpg" alt="<%= game.name %>" />
                            <% else %>
                              <img class="secondary-image" alt="Product Title" src="">
                            <% end %>
                          </a>
                        </div>
                        <div class="product-dsc">
                          <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
                          <div class="star-price">
                            <span class="price-left">
                              <!-- incorporate lowest deal later with restructured deals -->
                            </span>
                            <span class="star-right"></span>
                          </div>
                        </div>
                        <div class="actions-btn">
                          <a href="/games/<%= game.id %>" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></a> <!-- When figure out quick view -->
                          <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                          <%= link_to "<i class = 'fa fa-retweet'></i>".html_safe, "/deals/new/#{game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add Deal to Game' %>
                        </div>
                      </div>
                    </div>
                    <!-- single product end -->

          <% end %>
        <% end %>

      </div>
    </section>
  </div>
</div>