<!-- pages-title-start -->
<% if @game.game_covers.any? %>
  <section class="contact-img-area" style='background-image: url("https://res.cloudinary.com/igdb/image/upload/<%= @game.game_covers.first.cloudinary_id %>.jpg"); background-size:1400px'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="con-text">
            <h2 class="page-title"><%= @game.name %></h2>
            <p><a href="/games">Home</a> | Game</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="contact-img-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="con-text">
            <h2 class="page-title"><%= @game.name %></h2>
            <p><a href="/games">Home</a> | Game</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<!-- pages-title-end -->

<!-- single product content section start -->
<section class="single-product-area sit">
  <div class="container">
    <div class="row">
      <!-- Single Product Description Start -->
      <div class="col-md-12">
        <div class="row">

          <!-- Images Start -->
          <div class="col-md-5 col-sm-5 none-si-pro">
            <div class="pro-img-tab-content tab-content">

              <% if @game_images.any? %>
                <% @game_images.each_with_index do |image, index| %>
                  <% if index == 0 %>
                    <div class="tab-pane active" id="image-<%= index + 1 %>">
                      <div class="simpleLens-big-image-container">
                        <a class="simpleLens-lens-image" data-lightbox="roadtrip" data-lens-image="https://res.cloudinary.com/igdb/image/upload/<%= image.cloudinary_id %>.jpg" href="https://res.cloudinary.com/igdb/image/upload/<%= image.cloudinary_id %>.jpg">
                          <img src="https://res.cloudinary.com/igdb/image/upload/<%= image.cloudinary_id %>.jpg" alt="" class="simpleLens-big-image">
                        </a>
                      </div>
                    </div>
                  <% else %>
                    <div class="tab-pane" id="image-<%= index + 1 %>">
                      <div class="simpleLens-big-image-container">
                        <a class="simpleLens-lens-image" data-lightbox="roadtrip" data-lens-image="https://res.cloudinary.com/igdb/image/upload/<%= image.cloudinary_id %>.jpg" href="https://res.cloudinary.com/igdb/image/upload/<%= image.cloudinary_id %>.jpg">
                          <img src="https://res.cloudinary.com/igdb/image/upload/<%= image.cloudinary_id %>.jpg" alt="" class="simpleLens-big-image">
                        </a>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>

            </div>
            <div class="pro-img-tab-slider indicator-style2">
              <% @game_images.each_with_index do |image, index| %>
                <div class="item"><a href="#image-<%= index + 1 %>" data-toggle="tab"><img src="https://res.cloudinary.com/igdb/image/upload/<%= image.cloudinary_id %>.jpg" alt="" /></a></div>
              <% end %>
            </div>
          </div>
          <!-- Images End -->

          <!-- Product Info Start -->
          <div class="col-md-7 col-sm-7">
            <div class="cras">
              <div class="product-name">
                <h2><%= @game.name %></h2>
              </div>

<!--               <div class="pro-rating cendo-pro">
                <div class="pro_one">
                  <img src="img/icon-img/stars-1.png" alt="">
                </div>
                <p class="rating-links">
                  <a href="#">1 Reviews</a>
                </p>
              </div> -->

              <p class="availability in-stock">
                <!-- Product Code: Product 3 -->
              </p>
              <p class="availability in-stock2">
                <!-- Availability:In stock -->
              </p>

              <div class="short-description">
                <% if @game.summary %>
                  <p>Summary: <%= @game.summary %></p>
                <% end %>
              </div>

              <div class='short-description'>
                <% if @game.genred_games.any? %>
                  <p class="games-show-genres" style="text-align:center; font-size:14px">
                    <span style="float:left;">Genre(s):</span>
                    <span class="games-show-table-color">
                      <% @game.genred_games.each do |genred_game| %>
                        <a href="/games?sort_attribute=genre&sort_attribute_2=<%= genred_game.genre_id %>"><%= genred_game.genre.name %></a>,
                      <% end %>
                    </span>
                  </p>
                <% end %>

              </div>

              <div class='short-description' >
                <% if @game.platformed_games.any? %>
                  <p>Platform(s) and Release Date(s): </p>

                  <table class="data-table cart-table games-show-table-color">
                    <tr>
                      <th></th>
                      <th>Platform</th>
                      <th>Release Date</th>
                    </tr>
                    <% @game.platformed_games.order(:release_date).each do |platformed_game| %>
                      <tr>
                        <td>
                          <% if platformed_game.platform.platform_logos.any? %>
                            <img src="https://res.cloudinary.com/igdb/image/upload/<%= platformed_game.platform.platform_logos.first.cloudinary_id %>.jpg" class = "platform-logo">
                          <% end %>
                        </td>
                        <td>
                          <%= platformed_game.platform.name %>
                        </td>
                        <td>
                          <% if platformed_game.release_date %>
                            <%= platformed_game.release_date.strftime("%B %d, %Y") %>
                          <% else %>
                            TBA
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                <% end %>
              </div>

              <% if @game.lowest_deals.any? %>
                <div class="pre-box">
                  <span class="special-price">Current Lowest: <%= number_to_currency(@game.lowest_deals.sort_by! { |deal| deal[:price]}[0][:price], unit: "$") %></span>
                </div>
              <% end %>
              
              <div class="add-to-box1 show-border-top">
                <div class="add-to-box add-to-box2">
                  <div class="add-to-cart">

                    <div class="product-icon">
                      <%= link_to "<i class='fa fa-heart'></i>".html_safe, "/user_games/#{@game.id}", 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-original-title' => 'Add To List', method: :post %>
                    </div>

                  </div>
                </div>
              </div>
<!--               <div class="s-cart-img">
                <a href="#">
                  <img alt="" src="img/icon-img/screenshot_2.png">
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="text">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <% if @game.storyline %>
                  <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Product Description</a>
                  </li>
                <% end %>

                <% @game.platformed_games.each do |platformed_game| %>
                  <li role="presentation">
                    <a href="#<%= platformed_game.platform.name.gsub(/[ ]/, '-').gsub(/[()]/, '') %>" aria-controls="profile" role="tab" data-toggle="tab"><%= platformed_game.platform.name %> Deals</a>
                  </li>
                <% end %>

                <% if current_user %> <!-- change to current_user later -->
                  <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Add Deal</a>
                  </li>
                <% end %>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content tab-con2">
                <% if @game.storyline %>
                  <div role="tabpanel" class="tab-pane active" id="home">
                    Story: <%= @game.storyline %>
                  </div>
                <% end %>
                <!-- Deal Show Start-->
                <% @game.platformed_games.each do |platformed_game| %>
                  <div role="tabpanel" class="tab-pane" id="<%= platformed_game.platform.name.gsub(/[ ]/, '-').gsub(/[()]/, '') %>">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12 col-xs-12">
                          <div class="s-cart-all">
                            <div class="cart-form table-responsive">
                              <h3>Deals on <%= platformed_game.platform.name %></h3>
                              <table id="shopping-cart-table" class="data-table cart-table" style="max-width:95%">
                                <tr>
                                  <th>Price</th>
                                  <th>Retailer</th>
                                  <th>Posting Date</th>
                                  <th>Description</th>
                                </tr>
                                <% if platformed_game.deals.where(active: true).any? %>
                                  <% platformed_game.deals.where(active: true).order(:price).each do |deal| %>
                                    <tr>
                                      <td>
                                        <%= number_to_currency(deal.price, unit: "$") %>
                                      </td>
                                      <td class="sop-cart an-sh">
                                          <a href="<%= deal.url %>"><%= deal.retailer %></a>
                                      </td>
                                      <td class="sop-cart">
                                        <%= deal.date.strftime("%B %d, %Y") %>
                                      </td>
                                      <td class="cen">
                                        <%= deal.description %>
                                      </td>
                                    </tr>
                                  <% end %>
                                <% end %>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <!-- Deal Show End-->

                <!-- Deal -->
                <div role="tabpanel" class="tab-pane" id="profile">
                  <%= form_tag '/deals', class: "form-horizontal", method: :post do %>
                    <h2 class="write">Add a Deal</h2>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <%= label_tag "Platform" %>
                        <%= collection_select :platform, :platform_id, Platform.includes(:platformed_games).where("platformed_games.game_id = #{@game.id}").references(:platformed_games), :id, :name %>
                        <%= hidden_field_tag :game_id, @game.id %>
                        <%= hidden_field_tag :date, Date.today %>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <%= label_tag :price %>
                        <%= text_field_tag :price, "", placeholder: "Deal Price", class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <%= label_tag :retailer %>
                        <%= text_field_tag :retailer, "", placeholder: "Retailer Name", class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <%= label_tag :url %>
                        <%= text_field_tag :url, "", placeholder: "Deal Link", class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-md-12">
                        <%= label_tag :description %>
                        <%= text_field_tag :description, "", placeholder: "Description (if any)", class: "form-control" %>
                      </div>
                    </div>
                    <div class="buttons si-button">
                      <div class="pull-right">
                        <%= button_tag "Add Deal to Game!", id: "button-review", class: "btn btn-primary", "data-loading-text" => "Loading...", type: "submit" %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <!-- Deal End -->

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Product Description end-->

      <!-- Suggestions start -->
      <!-- Suggestions End -->
    </div>
  </div>
</div>
</section>

<section class="section-padding-top"></section>