<h1><%= @game.name %></h1>
<ul>

  <% if @game.platformed_games.any? %>

    <li>Release Date: 
      <%= @game.platformed_games[0].release_date.strftime("%B %d, %Y") if @game.platformed_games[0].release_date %>
      <%= "TBA" if @game.platformed_games[0].release_date == nil %>
    </li>
    <li>Platforms:</li>
    <ul>
      <% @game.platformed_games.each do |platformed_game| %>
        <li><%= platformed_game.platform.name %></li>
      <% end %>
    </ul>

  <% else %>

    <li>Release Date</li>

  <% end %>

  <% if @game.genred_games.any? %>

    <li>Genre(s):</li>
    <ul>
      <% @game.genred_games.each do |genred_game| %>
        <li><%= genred_game.genre.name %></li>
      <% end %>
    </ul>

  <% end %>

<!--   <% if @game.lowest_deals.any? %>
    <td>
      <% @game.lowest_deals.each do |platform_deal| %>
        <p><a href="/deals/<%= platform_deal[:deal_id] %>"> <%= platform_deal[:platform_name] %>: <%= number_to_currency(platform_deal[:price], unit: "$") %></a></p>
      <% end %>
    </td>
  <% else %>
    <td>N/A</td>
  <% end %> -->

  <li>Description: <%= @game.description %></li>
</ul>

<% if current_user %>

  <% if !current_user.user_games.find_by(game_id: @game.id) %>

    <%= form_tag '/user_games', method: :post do %>
      <%= hidden_field_tag :game_id, "#{@game.id}" %>
      <%= submit_tag "Add to List!" %>
    <% end %>

  <% end %>

  <%= form_tag "/deals/new", method: :get do %>
    <%= hidden_field_tag :game_id, @game.id %>
    <%= collection_select :platform, :platform_id, Platform.includes(:platformed_games).where('platformed_games.game_id = ?', @game.id).references(:platformed_games), :id, :name %>
    <%= submit_tag "Add Deal to Game!" %>
  <% end %>

  <% if current_user.admin %>

    <%= form_tag '/genred_games/new', method: :get do %>
      <%= hidden_field_tag :game_id, @game.id %>
      <%= submit_tag "Add genre to game!" %>
    <% end %>

    <p><%= link_to "Edit game", "/games/#{@game.id}/edit" %></p>
    <p><%= link_to "Delete game", "/games/#{@game.id}", method: :delete %></p>

  <% end %>

<% end %>

<% if @game.lowest_deals.any? %>
  <div class="row">
    <% @game.platformed_games.each do |platformed_game| %>
      <div class="col-md-4">
        <h2>Deals on <%= platformed_game.platform.name %></h1>
        <table class="table table-hover">
          <tr>
            <th>Price</th>
            <!-- <th>Platform</th> -->
            <th>Retailer</th>
            <th>Posting Date</th>
            <th>description</th>
            <th>Edit Deal</th>
          </tr>
          <% if platformed_game.deals.where(active: true).any? %>
            <% platformed_game.deals.where(active: true).each do |deal| %>
              <tr>
                <td><%= number_to_currency(deal.price, unit: "$") %> (<%= platformed_game.discount_value(deal) %>% off!)</td> <!-- Accomodate for if base price option is feasible -->
                <!-- <td><%= deal.platformed_game.platform.name %></td> -->
                <td><a href="<%= deal.url %>"><%= deal.retailer %></a></td>
                <td><%= deal.date.strftime("%B %d, %Y") %></td>
                <td><%= deal.description %></td>
                <td><%= button_to "Edit Deal", "/deals/#{deal.id}/edit", method: :get %></td>
              </tr>
            <% end %>
          <% else %> <!-- Accomodate for if base price option is feasible -->
            <tr>
              <td>Price at Release: <%= number_to_currency(platformed_game.base_price, unit: "$") %></td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
<% end %>