<h1><%= @game.name %></h1>
<ul>
  <% if @game.platformed_games.any? %>
    <li>Release Date: 
      <%= @game.platformed_games[0].release_date if @game.platformed_games[0].release_date %>
      <%= "TBA" if @game.platformed_games[0].release_date == nil %>
    </li>
    <li>Platforms</li>
    <ul>
      <% @game.platformed_games.each do |platformed_game| %>
        <li><%= platformed_game.platform.name %></li>
      <% end %>
    </ul>
  <% else %>
    <li>Release Date</li>
  <% end %>

</ul>
<%= form_tag '/user_games', method: :post do %>
  <%= hidden_field_tag :game_id, "#{@game.id}" %>
  <%= submit_tag "Add to List!" %>
<% end %>

<%= link_to "Edit game", "/games/#{@game.id}/edit" %>