<!-- pages-title-start -->
<% if @user_games.any? %>
  <% if @sample_game.game.game_covers.any? %>
    <section class="user-games-contact-img-area" style='background-image: url("https://res.cloudinary.com/igdb/image/upload/<%= @sample_game.game.game_covers.first.cloudinary_id %>.jpg"); background-size:1400px' >
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="con-text">
              <h2 class="page-title">Wishlist</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="user-games-section-title">
              <h3>Pages</h3>
              <div class="section-icon">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="product-tab nav nav-tabs user-games-pages-color">
            <ul>    
              <% if @search.empty? %> 
                <% if @page.to_i - 1 > 1 %>
                  <li><a href="/user_games?page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                <% end %>
                <% if @page.to_i > 1 %>
                  <li><a href="/user_games?page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                <% end %>                                 
                <li ="active"><a data-toggle="tab" href="/user_games?page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                <% if @user_games_next.length > 0 %>
                  <li>
                    <a href="/user_games?page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                  </li>
                  <% if @user_games_next_2.length > 0 %>
                    <a href="/user_games?page=<%= @page.to_i + 2 %>"><%= @page.to_i + 2 %></a>
                  <% end %>
                <% end %>
              <% else %>
                <% if @page.to_i - 1 > 1 %>
                  <li><a href="/user_games?search=<%= @search %>&page=<%= @page.to_i - 2 %>"><%= @page.to_i - 2 %></a></li>
                <% end %>
                <% if @page.to_i > 1 %>
                  <li><a href="/user_games?search=<%= @search %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                <% end %>                                 
                <li ="active"><a data-toggle="tab" href="/user_games?search=<%= @search %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                <% if @user_games_next.length > 0 %>
                  <li>
                    <a href="/user_games?search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                  </li>
                  <% if @user_games_next_2.length > 0 %>
                    <a href="/user_games?search=<%= @search %>&page=<%= @page.to_i + 2 %>"><%= @page.to_i + 2 %></a>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </section>
  <% else %>
    <section class="contact-img-area" style="height:362px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="con-text">
              <h2 class="page-title">Wishlist</h2>
              <% if @user_games.any? %>
                <div class="product-tab nav nav-tabs">
                  <ul>    
                    <% if @search.empty? %> 
                      <% if @page.to_i > 1 %>
                        <li><a href="/user_games?page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                      <% end %>                                 
                      <li ="active"><a data-toggle="tab" href="/user_games?page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                      <li>
                        <% unless @user_games.page(@page).per(@limit).length < @limit %>
                          <a href="/user_games?page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                        <% end %>
                      </li>
                    <% else %>
                      <% if @page.to_i > 1 %>
                        <li><a href="/user_games?search=<%= @search %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                      <% end %>                                 
                      <li ="active"><a data-toggle="tab" href="/user_games?search=<%= @search %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                      <li>
                        <% unless @user_games.page(@page).per(@limit).length < @limit %>
                          <a href="/user_games?search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% else %>
  <section class="contact-img-area" style="height:362px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="con-text">
            <h2 class="page-title">Wishlist</h2>
            <% if @user_games.any? %>
              <div class="product-tab nav nav-tabs">
                <ul>    
                  <% if @search.empty? %> 
                    <% if @page.to_i > 1 %>
                      <li><a href="/user_games?page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                    <% end %>                                 
                    <li ="active"><a data-toggle="tab" href="/user_games?page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                    <li>
                      <% unless @user_games.page(@page).per(@limit).length < @limit %>
                        <a href="/user_games?page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                      <% end %>
                    </li>
                  <% else %>
                    <% if @page.to_i > 1 %>
                      <li><a href="/user_games?search=<%= @search %>&page=<%= @page.to_i - 1 %>"><%= @page.to_i - 1 %></a></li>
                    <% end %>                                 
                    <li ="active"><a data-toggle="tab" href="/user_games?search=<%= @search %>&page=<%= @page %>"><strong class="pagination-overline-underline"><%= @page %><strong></a></li>
                    <li>
                      <% unless @user_games.page(@page).per(@limit).length < @limit %>
                        <a href="/user_games?search=<%= @search %>&page=<%= @page.to_i + 1 %>"><%= @page.to_i + 1 %></a>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<!-- pages-title-end -->
<div class="mainmenu clearfix hidden-sm hidden-xs" style="float:right;padding-top:35px;margin-right:160px;">
  <nav>
    <ul class="games-index-filter-head">
      <li>Filters:</li>
      <li>
        Order By:
        <ul class="games-index-ul-filters">
          <% if @sort_attribute %>
            <% if @sort_attribute_2 %>
              <li>
                <a href="/user_games?filter=name_up&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>" >Name (A-Z)</a>
              </li>
              <li>
                <a href="/user_games?filter=name_down&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>" >Name (Z-A)</a>
              </li>
              <li>
                <a href="/user_games?filter=release_date_desc&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>" >Newest</a>
              </li>
              <li>
                <a href="/user_games?filter=release_date_asc&sort_attribute=<%= @sort_attribute %>&sort_attribute_2=<%= @sort_attribute_2 %>" >Oldest</a>
              </li>
            <% else %>
              <li>
                <a href="/user_games?filter=name_up&sort_attribute=<%= @sort_attribute %>" >Name (A-Z)</a>
              </li>
              <li>
                <a href="/user_games?filter=name_down&sort_attribute=<%= @sort_attribute %>" >Name (Z-A)</a>
              </li>
              <li>
                <a href="/user_games?filter=release_date_desc&sort_attribute=<%= @sort_attribute %>" >Newest</a>
              </li>
              <li>
                <a href="/user_games?filter=release_date_asc&sort_attribute=<%= @sort_attribute %>" >Oldest</a>
              </li>
            <% end %>
          <% else %>
            <li>
              <a href="/user_games?filter=name_up" >Name (A-Z)</a>
            </li>
            <li>
              <a href="/user_games?filter=name_down" >Name (Z-A)</a>
            </li>
            <li>
              <a href="/user_games?filter=release_date_desc" >Newest</a>
            </li>
            <li>
              <a href="/user_games?filter=release_date_asc" >Oldest</a>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        Platforms:
        <ul class="games-index-ul-filters">
          <% @platforms.each do |platform| %>
            <li>
              <a href="/user_games?sort_attribute=platform&sort_attribute_2=<%= platform.id %>" ><%= platform.name %></a>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        Genres:
        <ul class="games-index-ul-filters">
          <% @genres.each do |genre| %>
            <li>
              <a href="/user_games?sort_attribute=genre&sort_attribute_2=<%= genre.id %>"><%= genre.name %></a>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<!-- wishlist content section start -->
<div class="shopping-cart-area nr-wish-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="s-cart-all">
          <div class="cart-form table-responsive">
            <table id="shopping-cart-table" class="data-table cart-table">
              <tr>
                <th>Cover</th>
                <th>Name</th>
                <th>Lowest Price</th>
                <th>Platform(s) and Release Date(s)</th>
                <th>Genre(s)</th>
                <th>Ownership Status</th>
                <th class="low1"></th>
              </tr>
              <% @user_games.each do |user_game| %>
                <tr>
                  <td class="sop-cart">
                    <% if user_game.game.game_covers.any? %>
                      <a href="/games/<%= user_game.game.id %>">
                        <img class="primary-image" src="https://res.cloudinary.com/igdb/image/upload/<%= user_game.game.game_covers.first.cloudinary_id %>.jpg" class = "game-cover">
                      </a>
                    <% end %>
                  </td>
                  <td class="sop-cart an-sh">
                    <div class="tb-beg">
                      <a href="/games/<%= user_game.game.id %>">
                        <%= user_game.game.name %>
                      </a>
                    </div>
  <!--                   <div class="last-cart l-mrgn">
                      <a class="las4" href="#">Quick View</a>
                    </div> -->
                  </td>
                  <% if user_game.game.platformed_games.any? %>
                    <td class="sop-cart">
                      <div class="tb-product-price font-noraure-3">
                        <% user_game.game.lowest_deals.each do |deal| %>
                          <p class="amount"><%= deal[:platform_name] %>: <%= number_to_currency(deal[:price], :unit => "$") %></p>
                        <% end %>
                      </div>
                    </td>
                    <td class="sop-cart">
                      <% user_game.game.platformed_games.order(:release_date).each do |platformed_game| %>
                        <p>
                          <%= platformed_game.platform.name %>: 
                          <% if platformed_game.release_date %>
                            <%= platformed_game.release_date.strftime("%B %d, %Y") %>
                          <% else %>
                          <% end %>
                        </p>
                      <% end %>
                    </td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                  <% if user_game.game.genred_games.any? %>
                    <td class="cen">
                      <!-- <span class="wishlist-in-stock">In Stock</span> -->
                      <% user_game.game.genred_games.each do |genred_game| %>
                        <%= genred_game.genre.name + ", " %>
                      <% end %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td class="sop-cart">
  <!--                   <div class="last-cart l-mrgn wish">
                      <a class="las4" href="#"> Add to Cart</a>
                    </div> -->
                    <%= form_tag "/user_games/#{user_game.id}", method: :patch do %>
                      <% if user_game.ownership %>
                        <%= submit_tag "Owned" %>
                      <% else %>
                        <%= submit_tag "Wanted" %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="sop-icon1">
  <!--                   <a href="#">
                      <i class="fa fa-times"></i>
                    </a> -->
                    <%= form_tag "user_games/#{user_game.id}", method: :delete do %>
                      <%= hidden_field_tag :id, user_game.id %>
                      <%= button_tag "<i class='fa fa-times'></i>".html_safe, type: "submit" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- wishlist  content section end -->
<section class="section-padding-top"></section>